<extend name="Public/base"/>

<block name="content">

	<div class="btn-group pull-right">
		<a href="{:U('ApiEmulator/add')}" class="btn app-btn"><i class="icon-plus"></i> 新增</a>
		<a href="{:U('ApiEmulator/delete')}" class="btn app-btn" target="#data-form" confirm="确定删除选中记录？"><i class="icon-remove"></i> 删除</a>
	</div>

	<form action="{:U('ApiEmulator/lists')}" class="form-search">
		{:W('Form/searchInput', array('desc_txt', '描述'))}
		<button type="submit" class="btn"><span class="icon-search"></span> 查询</button>
	</form>

	<form action="{:U('ApiEmulator/lists')}" method="post" role="form" id="data-form">

		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th class="column-check">
						<input type="checkbox" check-group=":checkbox[name='id[]']"/>
					</th>
					<th>ID</th>
					<th>描述</th>
					<th>匹配</th>
					<th>创建人</th>
					<th>创建时间</th>
					<th>最后更新人</th>
					<th>最后更新时间</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<volist name="dataList" id="data">
				<tr>
					<td>
						<input type="checkbox" name="id[]" value="{$data.id}"/>
					</td>
					<td>{$data.id}</td>
					<td>
						<a href="{:U('ApiEmulator/edit', array('id'=>$data['id']))}">{$data.desc_txt}</a>
					</td>
					<td>{$data.path_match}</td>
					<td>{$data.created_by}</td>
					<td>{$data.created|date='Y-m-d H:i:s',###}</td>
					<td>{$data.last_upd_by}</td>
					<td>{$data.last_upd|date='Y-m-d H:i:s',###}</td>
					<td>
						<a class="btn btn-mini btn-primary" href="{:U('Api/ApiEmulator/output', array('id'=>$data['id']))}" target="_blank"><span class="icon-eye-open"> 预览</span></a>
						<a class="btn btn-mini btn-danger app-btn" confirm="确认删除？" href="{:U('ApiEmulator/delete', array('id'=>$data['id']))}"><span class="icon-remove"> 删除</span></a>
					</td>
				</tr>
				</volist> 
			</tbody>
		</table>

	</form>

	<div class="pagination">
		{$page}
	</div>
	
</block>