<extend name="Public/base" />

<block name="style">
<style type="text/css">
.controls div{
	padding-top: 5px;
	margin-bottom: 5px;
}
</style>
</block>

<block name="content">
	<form action="<notempty name='data.id'>{:U('NewStudent/edit')}<else/>{:U('NewStudent/add')}</notempty>" method="post" class="form-horizontal">

	<notempty name='data.id'> 
		<input type="hidden" name="id" value="{$data.id}" />
	</notempty> 

	<bs:controlGroup field="exam_num" label="考号">
		<div>{$data.exam_num|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="name" label="姓名">
		<div>{$data.name|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="gender" label="性别">
		<div>{$data.gender|lookup_value="GENDER",###}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="id_card_no" label="身份证">
		<div>{$data.id_card_no|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="address" label="家庭住址">
		<div>{$data.address|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="is_stay" label="住校">
		<label class="radio inline">
			<input type="radio" name="is_stay" value="Y" <eq name="data['is_stay']" value="Y"> checked</eq>/> 是
		</label>
		<label class="radio inline">
			<input type="radio" name="is_stay" value="N" <eq name="data['is_stay']" value="N"> checked</eq>/> 否
		</label>
	</bs:controlGroup> 

	<bs:controlGroup field="desc_txt_04" label="备注（生活处）">
		<textarea name="desc_txt_04">{$data.desc_txt_04|default=''}</textarea>
	</bs:controlGroup> 

	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary" value="保存" />
			<a href="{:get_return_url(U('NewStudent/lists'))}" class="btn btn-info">返回</a>
		</div>
	</div>

	</form>
</block>