<extend name="Public/base" />

<block name="style">
<style type="text/css">
.controls div{
	padding-top: 5px;
	margin-bottom: 5px;
}
</style>
<link rel="stylesheet" type="text/css" href="__STATIC__/listpanel/listpanel.css">
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/listpanel/listpanel.js"></script>
</block>

<block name="content">
	<form action="<notempty name='data.id'>{:U('NewStudent/edit')}<else/>{:U('NewStudent/add')}</notempty>" method="post" class="form-horizontal">

	<notempty name='data.id'> 
		<input type="hidden" name="id" value="{$data.id}" />
	</notempty> 

	<bs:controlGroup field="exam_num" label="考号">
		<div>{$data.exam_num|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="name" label="姓名">
		<div>{$data.name|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="id_card_no" label="身份证">
		<div>{$data.id_card_no|default=''}</div>
	</bs:controlGroup> 

	<bs:controlGroup field="gender" label="性别">
		{:W('Form/lookupSelect', array('gender', $data['gender'], 'GENDER'))} 
	</bs:controlGroup> 

	<bs:controlGroup field="nation" label="民族">
		{:W('Form/lookupSelect', array('nation', $data['nation'], 'NATION'))} 
	</bs:controlGroup> 

	<bs:controlGroup field="major" label="专业">
		{:W('Form/lookupSelect', array('major', $data['major'], 'MAJOR'))} 
	</bs:controlGroup> 

	<bs:controlGroup field="shape" label="体型">
		{:W('Form/lookupSelect', array('shape', $data['shape'], 'BODY_SHAPE'))} 
	</bs:controlGroup> 

	<bs:controlGroup field="height" label="身高">
		<input type="text" name="height" value="{$data.height|default=''}"/> 厘米
	</bs:controlGroup> 

	<bs:controlGroup field="weight" label="体重">
		<input type="text" name="weight" value="{$data.weight|default=''}"/> 公斤
	</bs:controlGroup> 

	<bs:controlGroup field="shoe_size" label="鞋码">
		<input type="text" name="shoe_size" value="{$data.shoe_size|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="middle_school" label="初中学校">
		<input type="text" id="middle_school" name="middle_school" value="{$data.middle_school|default=''}"/>
	</bs:controlGroup> 
	<script type="text/javascript">
	(function($) {
		$('#middle_school').listPanel({url: '{:U("Lookup/query?type=MIDDLE_SCHOOL")}', converter: function(item) {
			return item.val;
		}, onclick: function(text) {
			$('#middle_school').val(text);
		}});
	})(jQuery);
	</script>

	<bs:controlGroup field="middle_school_class" label="初中班级">
		{:W('Form/lookupSelect', array('middle_school_class', $data['middle_school_class'], 'MIDDLE_SCHOOL_CLASS'))} 
	</bs:controlGroup> 

	<bs:controlGroup field="father_name" label="父亲姓名">
		<input type="text" name="father_name" value="{$data.father_name|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="father_phone" label="父亲电话">
		<input type="text" name="father_phone" value="{$data.father_phone|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="mother_name" label="母亲姓名">
		<input type="text" name="mother_name" value="{$data.mother_name|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="mother_phone" label="母亲电话">
		<input type="text" name="mother_phone" value="{$data.mother_phone|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="address" label="家庭住址">
		<input type="text" name="address" value="{$data.address|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="desc_txt_03" label="备注（政教处）">
		<textarea name="desc_txt_03">{$data.desc_txt_03|default=''}</textarea>
	</bs:controlGroup> 

	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary" value="保存" />
			<a href="{:get_return_url(U('NewStudent/lists'))}" class="btn btn-info">返回</a>
		</div>
	</div>

	</form>
</block>