<extend name="Public/base"/>

<block name="content">

	<div class="btn-group pull-right">
		
	</div>

	<form action="{:U('NewStudent/lists')}" class="form-search">
		{:W('Form/searchInput', array('name', '姓名'))}
		<button type="submit" class="btn"><span class="icon-search"></span> 查询</button>
	</form>

	<form action="{:U('NewStudent/lists')}" method="post" role="form" id="data-form">

		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th class="column-check">
						<input type="checkbox" check-group=":checkbox[name='id[]']"/>
					</th>
					<th>ID</th>
					<th>考号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>身份证</th>
					<th>住校</th>
					<th>家庭住址</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<volist name="dataList" id="data">
				<tr>
					<td>
						<input type="checkbox" name="id[]" value="{$data.id}"/>
					</td>
					<td>{$data.id}</td>
					<td>{$data.exam_num}</td>
					<td>{$data.name}</td>
					<td>{$data.gender|lookup_value="GENDER",###}</td>
					<td>{$data.id_card_no}</td>
					<td>{$data.is_stay}</td>
					<td>{$data.address}</td>
					<td>{$data.desc_txt_04}</td>
					<td>
						<a class="btn btn-mini btn-warning app-btn" href="{:U('NewStudent/edit', array('id'=>$data['id']))}">编辑</a>
					</td>
				</tr>
				</volist> 
			</tbody>
		</table>

	</form>

	<div class="pagination">
		{$page}
	</div>
	
</block>