<extend name="Public/base" />

<block name="content">
	<form action="<notempty name='data.id'>{:U('AppRelease/edit')}<else/>{:U('AppRelease/add')}</notempty>" method="post" class="form-horizontal">

	<notempty name='data.id'> 
		<input type="hidden" name="id" value="{$data.id}" />
	</notempty> 

	<bs:controlGroup field="name" label="名称">
		<input type="text" name="name" value="{$data.name|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="code" label="标识">
		<input type="text" <notempty name="data.id">readOnly</notempty> name="code" value="{$data.code|default=''}"/>
	</bs:controlGroup> 

	<bs:controlGroup field="platform" label="平台">
		{:W('Form/lookupSelect', array('platform', $data['platform'], 'PLATFORM'))} 
	</bs:controlGroup> 

	<bs:controlGroup field="seq_num" label="顺序">
		<input type="text" id="seq_num" name="seq_num" value="{$data.seq_num}" />
	</bs:controlGroup> 

	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary" value="保存" />
			<a href="{:get_return_url(U('AppRelease/lists'))}" class="btn btn-info">返回</a>
		</div>
	</div>

	</form>
</block>