<extend name="Public/base"/>

<block name="content">
<h3>学而思资源</h3>
<ul>
	<li>大海微课
	<ul>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/dahaiweike/样例1_正负数的概念.mp4">样例1_正负数的概念.mp4</a></li>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/dahaiweike/样例2_有理数的分类.mp4">样例2_有理数的分类.mp4</a></li>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/dahaiweike/样例3_数轴.mp4">样例3_数轴.mp4</a></li>
	</ul>
	</li>
	<li>好微课
	<ul>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/haoweike/初中化学.avi">初中化学.avi</a></li>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/haoweike/初中数学.avi">初中数学.avi</a></li>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/haoweike/微课-氧气的制取.avi">微课-氧气的制取.avi</a></li>
	</ul>
	</li>
	<li>学而思网校
	<ul>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/xuersiwangxiao/辅助线：与两圆位置关系有关的辅助线.mp4">辅助线：与两圆位置关系有关的辅助线.mp4</a></li>
		<li><a href="__PUBLIC__/Uploads/Video/xuersivideos/xuersiwangxiao/国学经典名句赏析之《论语》.mp4">国学经典名句赏析之《论语》.mp4</a></li>
	</ul>
	</li>
</ul>
</block>