<extend name="Public/base"/> 

<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/jstree/themes/default/style.min.css">
<style type="text/css">
#side_menu {
    overflow-y: scroll;
}
#settings {
    padding: 10px;
}
.modal-body .form-horizontal .controls {
    margin-left: 100px;
}
.modal-body .form-horizontal .control-label {
    width: 80px;
}
</style>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iExp2mgSz2lHiDQtXfRZ01TktNaGdF61"></script>
<script type="text/javascript" src="__STATIC__/baidu-map/mapv.min.js"></script>
<script type="text/javascript" src="__STATIC__/jstree/jstree.min.js"></script>
<script type="text/javascript">
(function($) {

    // Preferences
    function Pref() {}

    Pref.get = function(key, defValue) {
        var value = $.cookie(key);
        if (value === undefined) {
            value = defValue;
        }
        return value;
    };

    Pref.set = function(key, value) {
        $.cookie(key, value, {expires: 7});
    };

    Pref.getBool = function(key, defValue) {
        var value = $.cookie(key);
        if (value === undefined) {
            value = defValue;
        }

        value = value == 'false' ? false : true

        return value;
    }

    // AppMap
    function AppMap(container) {

        this.container = container;

        this.init();
    }

    AppMap.prototype.init = function() {

        if (this.map) {
            return;
        }

        this.map = new BMap.Map(this.container, {
            enableMapClick: false
        });
        var point = new BMap.Point(106.962497, 38.208726);
        this.map.centerAndZoom(point, 5);
        this.map.enableScrollWheelZoom(false);

        this.map.setMapStyle({
            styleJson: [{
                "featureType": "highway",
                "elementType": "all",
                "stylers": {
                          "color": "#d9ead3ff"
                }
            }]
        });

        var map = this.map;
        var boundary = new BMap.Boundary();
        boundary.get('商州区', function(rs) {
            for (var i = 0, len = rs.boundaries.length; i < len; i++) {
                var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: "#ff0000"}); //建立多边形覆盖物
                map.addOverlay(ply);
            }
        });
    };

    AppMap.prototype.addEventListener = function(event, callback) {
        var appMap = this;
        this.map.addEventListener(event, function(type, target) {
            callback(appMap, type);
        });
    }

    AppMap.prototype.showClip = function(geodata) {
        if (this.clipLayer) {
            this.clipLayer.destroy();
            delete this.clipLayer;
        }

        var dataSet = new mapv.DataSet(geodata);

        this.clipLayer = new mapv.baiduMapLayer(this.map, dataSet, {
            fillStyle: '#000000',
            globalAlpha: 0.8,
            draw: 'clip'
        });
    }

    AppMap.prototype.showRegion = function(geodata) {
        
        if (this.regionLayer) {
            this.regionLayer.destroy();
            delete this.regionLayer;
        }

        var dataSet = new mapv.DataSet(geodata);

        this.regionLayer = new mapv.baiduMapLayer(this.map, dataSet, {
            gradient: {
                0: '#ffffff',
                1: '#00bde5'
            },
            globalAlpha: 0.8,
            draw: 'intensity'
            //draw: 'category'
        });


    }

    AppMap.prototype.showPoint = function(geodata) {
        if (this.pointLayer) {
            this.pointLayer.destroy();
            delete this.pointLayer;
        }

        if (this.pointTextLayer) {
            this.pointTextLayer.destroy();
            delete this.pointTextLayer;
        }

        var dataSet = new mapv.DataSet(geodata);

        this.pointLayer = new mapv.baiduMapLayer(this.map, dataSet, {
            fillStyle: 'rgba(255, 155, 0, 0.6)',
            shadowColor: 'rgba(255, 155, 0, 0.6)',
            shadowBlur: 30,
            size: 5,
            draw: 'simple'
        });

        // this.pointTextLayer = new mapv.baiduMapLayer(this.map, dataSet, {
        //     draw: 'text',
        //     //avoid: true,
        //     size: 12,
        //     font: '12px Arial',
        //     fillStyle: 'black',
        //     shadowColor: 'white',
        //     shadowBlur: 10
        // });
        // this.pointTextLayer.hide();
    }

    AppMap.prototype.clear = function() {
        if (this.pointLayer) {
            this.pointLayer.destroy();
            delete this.pointLayer;
        }

        if (this.regionLayer) {
            this.regionLayer.destroy();
            delete this.regionLayer;
        }

        if (this.clipLayer) {
            this.clipLayer.destroy();
            delete this.clipLayer;
        }
    }

	$(function() {

        var viewportHeight = $(window).height() - 100;
        $('#map_container').height(viewportHeight);
        $('#side_menu').height(viewportHeight);

        $('#myModal').on('shown', function() {

            var focusMode = Pref.getBool('focusMode', true);
            $('#focus_mode').attr('checked', focusMode);

            var showRegion = Pref.getBool('showRegion', true);
            $('#show_region').attr('checked', showRegion);

            var showPoint = Pref.getBool('showPoint', true);
            $('#show_point').attr('checked', showPoint);

        });

        $('#setting_confirm').click(function() {

            var focusMode = $('#focus_mode').is(':checked');
            var showRegion = $('#show_region').is(':checked');
            var showPoint = $('#show_point').is(':checked');

            Pref.set('focusMode', focusMode);
            Pref.set('showRegion', showRegion);
            Pref.set('showPoint', showPoint);
            
        })

        $('#tree_panel').on('changed.jstree', function(e, data) {
            var node = data.instance.get_node(data.selected[0]);
            loadData(node.id);
        }).jstree({
            core: {
                multiple: false,
                data: {
                    "url": "{:U('Map/get_children')}",
                    "data": function(node) {
                        return {"pid": node.id}
                    }
                }
            }
        });

        var appMap = new AppMap('map_container');
        // appMap.addEventListener('zoomend', function(appMap, e) {
        //     if (e.target.getZoom() >= 10) {
        //         if (appMap.pointTextLayer) {
        //             appMap.pointTextLayer.show();
        //         }
        //     } else {
        //         if (appMap.pointTextLayer) {
        //             appMap.pointTextLayer.hide();
        //         }
        //     }
        // });

		function loadData(id) {

            AppMap.prototype.clear.call(appMap);

            var focusMode = Pref.getBool('focusMode', true);
            var showRegion = Pref.getBool('showRegion', true);
            var showPoint = Pref.getBool('showPoint', true);

            if (focusMode || showRegion) {
                var loadUrl = "{:U('Map/geodata')}?id=" + id;

                $.getJSON(loadUrl, function(data) {
                    if (showRegion) {
                        AppMap.prototype.showRegion.call(appMap, data);
                    }
                    if (focusMode) {
                        AppMap.prototype.showClip.call(appMap, data);
                    }

                    if (showPoint) {
                        loadUrl = "{:U('Map/geodata')}?id=" + id + "&type=point";
                        $.getJSON(loadUrl, function(data) {
                            AppMap.prototype.showPoint.call(appMap, data);
                        });
                    }
                });
            } else if (showPoint) {
                loadUrl = "{:U('Map/geodata')}?id=" + id + "&type=point";
                $.getJSON(loadUrl, function(data) {
                    AppMap.prototype.showPoint.call(appMap, data);
                });
            }
		};

	});
	
})(jQuery);
</script>
</block> 

<block name="content">
    <div class="row-fluid">
        <span class="span9">
            <div id="map_container"></div>
        </span>

        <span class="span3">
            <div id="side_menu">
                <div id="settings">
                    <button class="btn btn-mini" id="map_setting" data-toggle="modal" data-target="#myModal"><i class="icon-gear"></i> 地图设置</button>
                </div>
                <div id="tree_panel"></div>
            </div>
        </span>
    </div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5 id="myModalLabel">地图设置</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">专注模式</label>
                    <div class="controls">
                        <label class="checkbox inline">
                            <input type="checkbox" id="focus_mode" />开启
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">显示</label>
                    <div class="controls">
                        <label class="checkbox inline">
                            <input type="checkbox" id="show_region" />区域
                        </label>

                        <label class="checkbox inline">
                            <input type="checkbox" id="show_point" />点
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <!--<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>-->
            <button class="btn btn-primary" data-dismiss="modal" id="setting_confirm">确定</button>
        </div>
    </div>
</block>